// Button
$primary-color : rgb(194, 79, 79);
$primary-border-color : rgb(194, 79, 79);
//Butuon:hover-disabled
$primary-hover-color: rgb(194, 99, 99);
//text
$primary-text-color: white;
$secondary-text-color: rgb(194, 79, 79);
//Input
$primary-input-focus-border-color: rgb(198, 141, 141);
$primary-input-focus-box-shadow-color: 0 0 0 0.1rem rgb(205, 185, 185);
$primary-input-focus-border-hover-color: rgb(198, 141, 141);