.container {
  display: grid;
  grid-template-areas:
    "carousel  carousel carousel carousel"
    ".  cardBooking cardBooking ."
    ".  services services ."
    ". masonry masonry .";
}

.bgHome {
  background-image: url("https://i.pinimg.com/originals/2e/fe/c2/2efec261efc0e9b0d87ca985fe25c910.jpg");
}

.carousel {
  grid-area: carousel;
}

.cardBookingContainer {
  grid-area: cardBooking;
  grid-row-end: carousel;
  margin-bottom: 2rem;
  justify-self: center;
  align-self: end;
  z-index: 2;
}

.services {
  grid-area: services;
}

.masonry {
  grid-area: masonry;
}
