.bgHome {
  background-image: url("https://i.pinimg.com/originals/2e/fe/c2/2efec261efc0e9b0d87ca985fe25c910.jpg");
}

.homeContainer {
  padding: 0 15% 0 15%;
}

.cardBookingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
