@import "../../assets/scss/red_house/override.scss";

.container {
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-areas:
        "sideMenu main main main";
}

.bgMain {
    background-image: url("https://i.pinimg.com/originals/2e/fe/c2/2efec261efc0e9b0d87ca985fe25c910.jpg");
    background-blend-mode: overlay;
    background-color: rgba(211, 211, 211, 0.2);
}

.sideMenu {
    grid-area: sideMenu;
    align-self: start;
}

.sideMenuProfile {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.6rem;
}

.sideMenuReservationInfo {
    display: flex;
    justify-content: space-between;
    span {
        font-weight: bold;
    }
}

.sideMenuButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.cardSideMenu {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 0.2rem;
    & {
        background-color: $primary-color;
    }
}

.sidebar { 
    & {
        background-color: $primary-color;
    }
}

.main{
    grid-area: main;
}

.cardMain {
    width: 99%;
}

@media (max-width: 991.98px){
    .cardSideMenu {
        display: none;
    }
}

@media (min-width: 991.98px){
    .sidebarButton {
        display: none;
        
    }
}
