.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 5rem;
  background-color: #ffe2c1;
}

.link {
  text-decoration: none;
}

.links {
  display: flex;
}

.links a {
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: none;
}

.links a:hover {
  color: #3b3b3b;
}

.h1 {
  color: white;
}
